<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.powerleader.cdn.crm_cdn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".view.supper.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/crm_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".view.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.HomeActivity" />
        <activity android:name=".ACFCustomActivity" />
        <activity android:name=".view.hav.HavSearchActivity" />
        <activity android:name=".view.hav.HavLookOneDetailActivity" />
        <activity android:name=".view.hav.HavAddActivity" />
        <activity android:name=".view.cus.CusLookOneDetailActivity" />
        <activity android:name=".view.cus.EditCusActivity"></activity>
    </application>

</manifest>